.root {
    my-background-color: #0D1A14;
    my-cards-color: #162A21;
    my-buttons: #3D8B5D;
    my-primary-text: #E0EADD;
    my-secondary-text: #8A9B91;
    my-forms-background-color: #1C3329;
    my-selected-button: #2E6148;

    -fx-background-color: my-background-color;
}

.sidebar {
    -fx-background-color: #252525;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #cccccc;
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.nav-btn:hover {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.nav-btn-danger {
    -fx-background-color: transparent;
    -fx-text-fill: #ef5350;
    -fx-font-family: "Poppins";
}
.nav-btn-danger:hover {
    -fx-background-color: rgba(239, 83, 80, 0.1);
}

.home-titulo-h1 {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: my-primary-text;
}

.home-titulo-h2 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: my-primary-text;
}