.root {
    -fx-background-color: #FFFFFF;
}

.my-projects-sect {
    -fx-padding: 15;
}

.myprojects-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E293B;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 0, 0, 0, 1);
}

.myprojects-subtitle {
    -fx-font-size: 15px;
    -fx-text-fill: #64748B;
    -fx-padding: 5 0 20 0;
}

.myprojects-scroll-pane {
    -fx-background-color: transparent;
}

.myprojects-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.my-projects-container {
    -fx-background-color: transparent;
}

.myprojects-cards {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: #E2E8F0;
    -fx-border-radius: 8px;
    -fx-padding: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 2);
    -fx-cursor: hand;

    -fx-min-height: 130px;
    -fx-pref-height: 130px;
    -fx-min-width: 365px;
    -fx-pref-width: 365px;
}

.myprojects-cards:hover {
    -fx-border-color: #2563EB;
}

.myprojects-principal-title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #1E293B;
}

.myprojects-status {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #64748B;
}

.myprojects-charged {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #64748B;
}

.myprojects-accepted, .myprojects-rejected, .myprojects-unkn {
    -fx-padding: 4 10;
    -fx-background-radius: 15;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.myprojects-accepted {
    -fx-background-color: #D1FAE5;
    -fx-text-fill: #065F46;
}

.myprojects-rejected {
    -fx-background-color: #FEE2E2;
    -fx-text-fill: #991B1B;
}

.myprojects-unkn {
    -fx-background-color: #FEF3C7;
    -fx-text-fill: #92400E;
}

.btn-open, .btn-edit, .btn-delete {
    -fx-background-color: #2563EB;
    -fx-font-size: 16;
    -fx-min-width: 100;
    -fx-min-height: 35;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 6;
    -fx-alignment: center;
}

.btn-open:hover, .btn-edit:hover, .btn-delete:hover {
    -fx-background-color: #1E293B;
}

.myprojects-title-card {
    -fx-font-size: 16;
}