.root {
    my-background-color: #0D1A14;
    my-cards-color: #162A21;
    my-buttons: #3D8B5D;
    my-primary-text: #E0EADD;
    my-secondary-text: #8A9B91;
    my-forms-background-color: #1C3329;
    my-selected-button: #2E6148;

    -fx-background-color: my-background-color;
}

.reg-info {
    -fx-background-color: my-cards-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 20px;
}

.reg-h3 {
    -fx-font-family: "Poppins Black";
    -fx-text-fill: my-primary-text;
}

.reg-h5 {
    -fx-text-fill: my-secondary-text;
}

.reg-form-control {
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-background-color: my-forms-background-color;
    -fx-text-fill: my-secondary-text;
}

.reg-combobox {
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-background-color: my-forms-background-color;
    -fx-prompt-text-fill: my-secondary-text;
}

.reg-combobox .list-cell {
    -fx-text-fill: my-secondary-text;
}

.reg-combobox .arrow {
    -fx-background-color: my-background-color;
}

.reg-combobox .text-input {
    -fx-prompt-text-fill: my-secondary-text;
}

.combo-box-popup .list-view {
    -fx-background-color: my-cards-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0.0, 0, 0);
}

.combo-box-popup .list-cell {
    -fx-text-fill: my-secondary-text; /* Cor do texto */
    -fx-padding: 10px; /* Deixa os itens mais gordinhos */
    -fx-background-color: transparent;
}

.reg-btn {
    -fx-font-family: "JetBrains";
    -fx-font-size: 16;
    -fx-background-color: my-buttons;
    -fx-text-fill: my-primary-text;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 10 25 10 25;
}

.reg-btn:hover {
    -fx-background-color: my-selected-button;
    -fx-border-color: transparent;
    -fx-text-fill: my-secondary-text;
}

.reg-hyperlink {
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: my-buttons;
}

.reg-hyperlink:hover {
    -fx-underline: false;
}